<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("style/style.css") }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header><h1>My Amazing Blog !</h1></header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>&copy; Puck 2015-{{ "now"|date("Y") }}</footer>
    </body>
</html>
